{% extends "project.html" %}

{% load static %}

{% block body_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    {% if latest_question_list %}
        <h2>Liste des questions</h2>
        <title></title>
        <ul>
        {% for question in latest_question_list %}
            <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>No polls are available.</h2>
    {% endif %}

    <a href="#myModal" role="button" class="btn" data-toggle="modal">
        Trigger a celery task
    </a>

    <!-- Modal -->
    <div
        id="myModal"
        class="modal hide fade"
        tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true"
    >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Tasks</h3>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to trigger this task ?</p>
        </div>
        <div class="modal-footer">
            <button
                class="btn"
                data-dismiss="modal"
                aria-hidden="true">
                nope
            </button>
            <form
                action="/polls/celery-task/"
                method="post"
            >
                {% csrf_token %}
                <button class="btn btn-primary">Yes, Let's do it</button>
            </form>

        </div>
    </div>

{% endblock %}