{% extends "project.html" %}


{% block body_block %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div style="margin-bottom: 50px">
        <h1>{{task.task_name}}</h1>
        <div>Task name:
            <h6>{{task.name}}</h6>
        </div>

        <div>Task number:
            <h6>{{task.id}}</h6>
        </div>

        <div>Task description:
            <h6>{{task.description}}</h6>
        </div>

        <div>Task date:
            <h6>{{task.is_done}}</h6>
        </div>

        <div>Task published:
            <h6>{{task.due_date}}</h6>
        </div>

        <div>Task done:
            <h6>{{task.is_done}}</h6>
        </div>

        <form action="{% url 'tasks:update' pk=task.pk %}">
            <button
                class="btn btn-primary"
                type="submit"
            >
                update task {{task.pk}}
            </button>

        </form>

    </div>

    <div>
        <h2>Comments</h2>
        <h3>Add a comment</h3>

        <form
            action="{% url 'tasks:comments-create' task=task.pk %}"
            method="post"
        >
            {% csrf_token %}

            {{ comment_form }}

            <div>
                <button
                    class="btn btn-primary"
                    type="submit"
                >
                    <i class="icon-plus icon-white"></i>
                    Add
                </button>
            </div>

        </form>

        <div>
            <h4>List of comments</h4>

            {% for c in task.comment_set.all %}
                <div
                    id="comment_{{ c.id }}"
                    class="well"
                >
                    <h5>Title: {{ c.title }}</h5>
                    <p>Description: {{ c.description }}</p>

                    <div style="margin-bottom: 15px">
                        <button
                            class="btn btn-success"
                            value="{{ c.id }}"
                        >
                            <i class="icon-pencil icon-white"></i>
                            Edit
                        </button>
                    </div>


                    <form
                        action="{% url 'tasks:comments-delete' task=task.pk pk=c.pk %}"
                        method="post"
                    >
                        {% csrf_token %}

                        <button
                            class="btn btn-danger"
                            type="submit"
                        >
                            <i class="icon-trash icon-white"></i>Delete
                        </button>
                    </form>
                </div>


                <div id="update_comment_{{ c.id }}" class="well hide">

                    <form
                        action="{% url 'tasks:comments-update' task=task.pk pk=c.pk %}"
                        method="post"
                    >
                        {% csrf_token %}
                        <div>
                            <div>Title:</div>
                            <input
                                name="title"
                                value={{ c.title }}
                            />
                        </div>

                        <div>
                            <div>Description:</div>
                            <textarea
                                name="description"
                                value="{{ c.description }}"
                            >{{ c.description }}</textarea>
                        </div>

                        <button
                            class="btn btn-success"
                            type="submit"
                        >
                            <i class="icon-ok icon-white"></i>
                            Save
                        </button>

                    </form>

                    <button
                        class="btn btn-inverse"
                        value="{{ c.id }}"
                    >
                        <i class="icon-remove icon-white"></i>
                        Cancel
                    </button>

                </div>
            {% endfor %}

        </div>
    </div>


    <script>
        $( document ).ready(function() {
            $( "button" ).click(function() {
                let id = this.value;
                $( "#comment_" + id ).toggleClass( "hide" );
                $( "#update_comment_" + id ).toggleClass( "hide" );
            });
        });

    </script>


{% endblock %}
