{% extends "project.html" %}


{% block body_block %}

    <div>Liste des taches</div>
    <ul>
        {% for t in tasks %}
            <li>
            	<a href="/tasks/{{t.id}}">{{ t }}</a>
                <div>
                    <button
                        onclick="window.location.href='/tasks/delete/{{t.id}}'"
                        class="btn btn-danger"
                    >
                        delete
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'tasks:create' %}">Go to Create a Task</a>

{% endblock %}