<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
     <!-- Latest compiled and minified CSS -->
     <link
        rel="stylesheet"
        href="{% static "bootstrap/css/main.css" %}">
    <link
        rel="stylesheet"
        href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link
        rel="stylesheet"
        href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}">

    <!-- compiled JavaScript -->
     <!-- <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script> -->

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link
        rel="application/javascript"
        href="{% static "bootstrap/css/bootstrap-alerts.js" %}">

</head>
<body>

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">Home of {{ user }}</a>
            <ul class="nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="/admin">admin</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:profile' pk=user.pk %}">my profile</a>
                    </li>
                    <li>
                        <a href="{% url 'tasks:index' %}">tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'polls:index' %}">polls</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:logout' %}">logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'accounts:login' %}">login</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts:signup' %}">Join the machine task club</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>


    <div class="container-fluid">

        {% block body_block %}

        {% endblock %}
    </div>

    <script>
    $( document ).ready(function() {
        $('.close').click(function(){
            $(".alert").css("display", "none");
        });
    });
    </script>
</body>
</html>